html, body {
    /* overflow: none; */
    overscroll-behavior: contain;
}

#__nuxt, #__layout {
    overscroll-behavior: none;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}


/* Layout Transitions */
.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}